@using System
@using System.ComponentModel.DataAnnotations
@using System.Net
@using FormFactory.Example.Controllers
@using FormFactory.Example.Models.Examples
@using FormFactory.AspMvc
@using FormFactory

@{
    ViewBag.Title = "FormFactory Examples";
}
@model FormFactory.Example.Controllers.HomeController.IndexModel
<header class="jumbotron masthead">
    <div class="inner">
        <h1>FormFactory</h1>
        <p>
            The ASP.NET MVC html form builder
        </p>
        <p class="download-info">
            <a href="https://github.com/mcintyre321/FormFactory" class="btn btn-primary btn-large">View project on GitHub</a>
        </p>
    </div>
</header>
<div class="marketing">
    <div class="row">
        <div class="col-md-3">
            <h4>Reflection form generation</h4>
            <p>
                Because you shouldn't have to update your html when you update your object model
            </p>
        </div>
        <div class="col-md-3">
            <h4>Convention based rendering</h4>
            <p>
                Specify custom templates for rendering different object types.
            </p>
        </div>
        <div class="col-md-3">
            <h4>Twitter bootstrap support</h4>
            <p>
                Styled for bootstrap (by default)
            </p>
        </div>
        <div class="col-md-3">
            <h4>Embeddable</h4>
            <p>
                FormFactory.RazorEngine can be used in non ASP projects like console apps, services or WebAPI projects.
            </p>
        </div>

    </div>
    <!--/row-->

</div>
<section id="documentation">
    <div class="row">
        <div class="col-md-6">
            <h3>What is it?</h3>
            <p>
                FormFactory renders complex object forms automatically. It refects over an object model or method signature,
                and builds an intermediate model representing the form and properties. These models are then rendered
                using customisable templates.
            </p>
            <p>
                FormFactory can build complex nested forms with rich content pickers. By following a few simple code conventions,
                properties with multiple choices and suggested values can be written in a few lines of code.
            </p>
        </div>
        <div class="col-md-6">
            <h3>How to use it</h3>
            <pre class="prettyprint">
//In a cshtml file
FF.PropertiesFor(someObject).Render(Html);
            </pre>
        </div>
    </div>
    <div class="page-header">
        <h2>Installation <small></small></h2>
    </div>

    <div class="row">
        <div class="col-md-6">
            Install the library
            <pre class="prettyprint">Nuget install-package FormFactory.AspMvc</pre>
            <div>or for non ASP MVC projects</div>
            <pre class="prettyprint">Nuget install-package FormFactory.RazorEngine</pre>
            OR
            Install the content files (.cshtml, .js, .css)
            <pre class="prettyprint">Nuget install-package FormFactory.Templates</pre>
            Update your layouts to include
            <pre class="prettyprint">
&lt;link href="/Content/FormFactory/FormFactory.css" rel="stylesheet" type="text/css"/>
&lt;script src="/Scripts/FormFactory/FormFactory.js" type="text/javascript">&lt;/script></pre>
        </div>
        <div class="span1">&nbsp;</div>
        <div class="col-md-5">Note: To use FormFactory without installing FormFactory.Templates you must <a hef="http://nuget.org/packages/EmbeddedResourceVirtualPathProvider">install</a> and <a href="https://github.com/mcintyre321/FormFactory/blob/master/FormFactory.Example/App_Code/RegisterVirtualPathProvider.cs">configure</a> the <a href="https://github.com/mcintyre321/EmbeddedResourceVirtualPathProvider">EmbeddedResourceVirtualPathProvider </a></div>

    </div>
    <!-- /row -->
    <!-- /row -->

</section>
<h1 class="page-header">
    Rendering objects
</h1>
@{
    
}
@foreach (var typeWithSource in Model.exampleTypes)
{
    <div class="row">
        <div class="col-md-12">
            <h3>@typeWithSource.Item1</h3>

        </div>
    </div>
    <div class="row">

        <div class="col-md-4">


            <form action="/home/save" method="POST">
                @{
                    var instance = Activator.CreateInstance(typeWithSource.Item1);
                    //if (string.IsNullOrWhiteSpace(Request.Params["UseRazorEngine"]))
                    {

                        @(FormFactory.FF.PropertiesFor(instance).Render(Html))
                    }
                    @*else
                    {
                        var helper = new FormFactory.RazorEngine.RazorTemplateHtmlHelper();
                        var propertiesFor = helper.PropertiesFor(instance);
                        @Html.Raw(propertiesFor.Render(Html)) //needs to be made raw as we are in MVC
                    }*@
                }
                <input type="submit" value="submit" />
            </form>
        </div>
        <div class="col-md-8">
            <p>In @(typeWithSource.Item1.Name).cs</p>
            <pre class="prettyprint">@(typeWithSource.Item2)</pre>
        </div>
    </div>

    }

@*<div class="row">
    <div class="col-md-6">
        <h2>Form for MVC action:</h2>

        <p>
            Given this action...

            <pre class="prettyprint">
    [HttpPost] public virtual ActionResult SignIn(string email, [DataType(DataType.Password)] string password)
        { //... } 
</pre>
        </p>
        <p>
            ..writing this in the view...
            <pre class="prettyprint"> 
        var form = Html.FormForAction((HomeController c, string p0, string p1) => c.SignIn(p0, p1));
        @@form.Render(Html); //renders the form
    </pre>
        </p>

    </div>
    <div class="span1">&nbsp;</div>
    <div class="col-md-5">
        <p>...will render this form:</p>
        @{

            var form = Html.FormForAction((HomeController c, string p0, string p1) => c.SignIn(p0, p1));
            @form.Render(Html);
        }
    </div>
</div>*@
<div class="row">
    <div class="col-md-6">
        <h2>Programatically created form</h2>

        <p>
            By default FF reflects against a view model to produce a `PropertyVm[]` array, but you can also create the properties programatically, e.g. you could load a form definition from a database<br />
            You can build any of the examples above.

            <pre class="prettyprint">
//Build a model up in your controller or view   
var formModel = new[]
{
    new PropertyVm(typeof(string), "username")
    {
        DisplayName = "Username",
        NotOptional = true,
    },
    new PropertyVm(typeof(string), "password")
    {
        DisplayName = "Password",
        NotOptional = true,
        GetCustomAttributes = () => new object[]{ new DataTypeAttribute(DataType.Password) }
    },
    new PropertyVm(typeof(string), "os")
    {
        DisplayName = "Operating System",
        NotOptional = true,
        Choices = new List&lt;>() {"OSX", "IOS", "Windows", "Android"},
        Value = "Windows", //Preselect windows
        GetCustomAttributes = () => new object[] {new DataTypeAttribute(customDataType: "Radio")},
    }
};
	    
...
//render it in your view
@@formModel.Render(Html)            </pre>
        </p>

    </div>
    <div class="span1">&nbsp;</div>
    <div class="col-md-5">
        <p>...will render this form:</p>
        @{

            var formModel = new[]
            {
                new PropertyVm(typeof(string), "username")
                {
                    DisplayName = "Username",
                    NotOptional = true,
                },
                new PropertyVm(typeof(string), "password")
                {
                    DisplayName = "Password",
                    NotOptional = true,
                    GetCustomAttributes = () => new object[] {new DataTypeAttribute(DataType.Password)}
                },
                new PropertyVm(typeof(string), "os")
                {
                    DisplayName = "Operating System",
                    NotOptional = true,
                    Choices = new List<string>() {"OSX", "IOS", "Windows", "Android"},
                    Value = "Windows", //Preselect windows
                    GetCustomAttributes = () => new object[] {new DataTypeAttribute(customDataType: "Radio")},
                }
            };

            @formModel.Render(Html)
        }
    </div>
</div>
