@using FormFactory.Attributes
@using FormFactory

@model FormVm
<form role="form" action="@Html.Raw(Model.ActionUrl)" method="@Html.Raw(Model.Method)" enctype="@Model.EncType" encoding="multipart/form-data" class="@Html.Raw(Model.AdditionalClasses)">
    @if (Model.RenderAntiForgeryToken)
    {
        @Html.AntiForgeryToken()
    }
    @if (!ViewData.ModelState.IsValid && Model.ShowValidationSummary)
    {
        <div class="alert alert-error">
            Sorry, there were some problems. Please correct them and try again.<br/>
            @Html.ValidationSummary(Model.ExcludePropertyErrorsFromValidationSummary)
        </div>
    }
    <fieldset>
        @foreach (var propertyVm in Model.Inputs)
        {
             @Html.Partial("FormFactory/Form.Property", propertyVm)
        }
        <div class="form-actions">
           @foreach (var button in Model.Buttons)
           {
                @Html.Partial("FormFactory/Property.FormFactory.Components.SubmitButton", button)
           }
        </div>
    </fieldset>
</form>
