@using System.ComponentModel.DataAnnotations
@using FormFactory
@model PropertyVm
@{
    var dataAttributes = Model.GetCustomAttributes().OfType<DataTypeAttribute>();
    if (dataAttributes.Any(da => da.CustomDataType == "Hidden"))
    {
<input name="@Model.Name" type="hidden" value="@Model.Value" />
    }
    else
    {
<span class="control-group @(Html.HasErrors(Model.Name) ? "error" : "")">
    <label class="control-label "for="@Model.Id">@Model.DisplayName</label>
    <span class="controls @(Html.HasErrors(Model.Name) ? "error" : "")">
        @Html.BestProperty(Model)
        <span class="help-inline">@Html.AllValidationMessages(Model.Name)</span>
    </span>
</span>
    }
}
