@using FormFactory
@model PropertyVm
@if (Model.IsWritable)
{
    <input class="xlarge" id="@Model.Name" name="@Model.Name" size="30" type="text" value="@Model.Value" />
}
else
{
    <span class="xlarge uneditable-input" id="@Model.Name" style="height: auto; min-height: 18px">@Model.Value</span> 
}