@using FormFactory
@using FormFactory.AspMvc
@model FormVm
<form role="form" action="@Model.ActionUrl" method="post" enctype="multipart/form-data" encoding="multipart/form-data" class="@ViewBag.FormClass @Model.AdditionalClasses">
@if (Model.RenderAntiForgeryToken)
{
    @Html.AntiForgeryToken()
}
@if (!ViewData.ModelState.IsValid && Model.ShowValidationSummary)
{
    <div class="alert alert-error">
        Sorry, there were some problems. Please correct them and try again.<br />
        @Html.ValidationSummary(Model.ExcludePropertyErrorsFromValidationSummary)
    </div>
}
<fieldset>
