@using System.ComponentModel.DataAnnotations
@using FormFactory
@using FormFactory.AspMvc
@model PropertyVm
@{
    if (Model.IsHidden)
    {
        <div style="display: none">@Html.BestProperty(Model)</div>
    }
    else
    {
        var validClass = Html.HasErrors(Model.Name) ? "error" : "valid";
    <div class="control-group @validClass">
        @if (Model.ShowLabel && !Model.LabelOnRight)
        {
            <label class="control-label" for="@Model.Id">@Model.DisplayName</label>
        }
        <div class="controls">
            @Html.BestProperty(Model)
            <span class="field-validation-@validClass" data-valmsg-for="@Model.Name" data-valmsg-replace="true">@Html.AllValidationMessages(Model.Name)</span>
        </div>
    </div>
    }
}
