@using System.ComponentModel.DataAnnotations
@using FormFactory
@model PropertyVm
@{
    if (Model.IsHidden)
    {
<input name="@Model.Name" type="hidden" value="@Model.Value" />
    }
    else
    {
        <span class="control-group @(Html.HasErrors(Model.Name) ? "error" : "")">
            @if (Model.ShowLabel && !Model.LabelOnRight)
            {
                <label class="control-label" for="@Model.Id">@Model.DisplayName</label>
            }
            <span class="controls @(Html.HasErrors(Model.Name) ? "error" : "")">
                @Html.BestProperty(Model)
                <span class="field-validation-valid" data-valmsg-for="@Model.Name" data-valmsg-replace="true">@Html.AllValidationMessages(Model.Name)</span>
            </span>
        </span>
    }
}
