@using System.ComponentModel.DataAnnotations
@using FormFactory
@model PropertyVm
@{
    if (Model.IsHidden)
    {
<input name="@Model.Name" type="hidden" value="@Model.Value" />
    }
    else
    {
<div class="control-group @(Html.HasErrors(Model.Name) ? "error" : "")">
    @if (Model.ShowLabel)
    {
        <label class="control-label" for="@Model.Id">@Model.DisplayName</label>
    }
    <div class="controls @(Html.HasErrors(Model.Name) ? "error" : "")">
        @Html.BestProperty(Model)
        <span class="help-inline">@Html.AllValidationMessages(Model.Name)</span>
    </div>
</div>
    }
}
