@using System
@using System.Collections.Generic
@using FormFactory
@using FormFactory.AspMvc

@model PropertyVm
@{
    var templateType = Model.Type.GetGenericArguments()[0];
    
    <div class="ff-collection">
        
        <ul>
            @{
                if (Model.Value != null)
                {
                    foreach (var obj in (IEnumerable<object>)Model.Value)
                    {
                        var id = Guid.NewGuid().ToString();
                        
                        <li draggable="true" id="listitem-@id">
                            <input type="hidden" name="@(Model.Name).Index" value="@id" />
                            @{
                                var prop = Html.PropertyVm(obj.GetType(), Model.Name + "[" + id + "]", obj);
                            }
                            @Html.BestProperty(prop)
                            @Links()
                        </li>
                    }
                }
            }
            <li class="ff-not-collection-item"><a class="btn btn-mini btn-primary ff-add-item" href="#add"  data-modelname="@Model.Name" title="Add">
                <span class="glyphicon glyphicon-plus"></span></a>
                <script type="text/html">
                    <div class="ff-collection-new-item ff-form" style="display: none"><input type='hidden' name='' value='' />
                        @Html.PropertiesFor(Activator.CreateInstance(templateType), templateType).Render(Html)
                        @Links()
                    </div>
                </script>
            </li>
        </ul>
    </div>
    
}
@helper Links()
{
    <a class="btn btn-sm ff-move-up btn-default" href="#moveup" title="Move Up"><span class="glyphicon glyphicon-arrow-up"></span></a> 
    <a class="btn btn-sm ff-move-down btn-default" href="#moveup" title="Move Down"><i class="glyphicon glyphicon-arrow-down">
    </i></a> <a class="btn btn-mini ff-remove-parent btn-danger btn-sm" href="#remove" title="Remove">
        <span class="glyphicon glyphicon-remove"></span></a> 
}