@using System.ComponentModel.DataAnnotations
@using FormFactory
@model PropertyVm
@{
    var isDate = Model.GetCustomAttributes().OfType<DataTypeAttribute>().Any(dt => dt.DataType == DataType.Date);
    var stringFormat = isDate ? "d" : "g";
    var behaviour = isDate ? "datepicker" : "datetimepicker";
    var valueAsString = Model.Value is string ? (Model.Value as string) : Model.Value as DateTime? == null ? "" : ((DateTime?) Model.Value).Value.ToString(stringFormat);
    var wrapperId = Guid.NewGuid().ToString();
    <span id="@wrapperId">
        <input type="text" class="@behaviour" name="@Model.Name" value="@valueAsString" @Model.Readonly() @Model.Disabled() />
    </span>
    <script type="text/javascript">
        window.setTimeout(function () {
            $("#@wrapperId input.@(behaviour)").@(behaviour)();
        },0);
    </script>
}
