@using System.ComponentModel.DataAnnotations
@using System.Globalization
@using FormFactory
@model PropertyVm
@using System.Collections
@using FormFactory
@if (Model.Choices != null && !Model.Readonly)
{


    <div class="ff-choices-area">
        @{
    var choices = (from obj in Model.Choices.Cast<object>().ToArray()
                   let choiceType = obj == null ? Model.Type : obj.GetType()
                   let properties = Html.PropertiesFor(obj, choiceType)
                       .Each(p => p.Name = Model.Name + "." + p.Name)
                       .Each(p => p.Readonly |= Model.Readonly)
                       .Each(p => p.Id = Guid.NewGuid().ToString())
                   select new { obj, choiceType, properties, name = (obj != null ? obj.DisplayName() : choiceType.DisplayName()) }).ToArray();

    var selectedIndex = choices
        .Select((choice, index) => new { index, choice })
        .Where(pair => pair.choice.obj.IsSelected())
        .Select(pair => pair.index)
        .FirstOrDefault();

    var useRadio =  Model.GetCustomAttributes().OfType<DataTypeAttribute>().Where(dt => dt.CustomDataType == "Radio").Any();

    if (!useRadio)
    {

            <div>
                <select class="ff-choice-picker" @Model.Disabled()>
                    @for (int i = 0; i < choices.Length; i++)
                    {

                        <option value="@i" @((i == selectedIndex).Att("selected"))>@(choices[i] == null ? "None" : choices[i].name)</option>
                    }
                </select>
            </div>
    }
        }
        <div class="ff-choices">
            @{
                var radioGroupName = Guid.NewGuid().ToString();
                for (int i = 0; i < choices.Length; i++)
                {

                    var choice = choices[i];
                    var obj = choices[i].obj;
                    var isSelected = (i == selectedIndex);
                    var isDisabled = Model.Disabled | !isSelected;
                    <div class="ff-choice " @Html.Raw(!useRadio && !isSelected ? "style='display:none'" : "") >
                        <div class="@Html.Raw((i < choices.Length - 1) && useRadio ? "bottom-separated" : "")">
                            <input type="radio" class="ff-choice-selector " @Html.Raw(!useRadio ? "style='display:none'" : "") name="@radioGroupName" @isSelected.Att("checked") @Model.Disabled.Att("Disabled")/>
                            <div @Html.Raw(useRadio ? "class=\"radio-block\"" : "")>
                                @if (useRadio)
                                {

                                    <div class="ff-choice-name">@(obj == null ? "None" : choice.name)</div>
                                }
                                @{ choice.properties.Each(p => p.Disabled |= isDisabled).Render(); }
                            </div>
                        </div>
                    </div>

                }
            }
        </div>
    </div>

}
else
{
    Html.PropertiesFor(Model.Value, Model.Type)
        .Each(p => p.Name = Model.Name == null ? p.Name : Model.Name + "." + p.Name).Render();
}
