@using System
@using System.Collections
@using System.Collections.Generic;
@using System.Reflection
@using FormFactory
@using IHtmlString = FormFactory.IHtmlString
@model PropertyVm
@{
    IList objectList = new object[0];
    if (Model.Value as IEnumerable != null)
    {
        objectList = new ArrayList();
        foreach (var v in ((IEnumerable) Model.Value))
        {
            objectList.Add(v);
        }
    }

    var choices = (IEnumerable<Tuple<string, object>>) Model.Choices ?? FormFactory.TypeHelper.GetChoicesForEnumType(Model);;

    foreach (var choice in choices)
    {
    <label class="checkbox">
        <input type="checkbox" value="@choice.Item1" name="@Model.Name" @ViewHelper.Attr((objectList.Contains(choice.Item1)), "checked", null) @FormFactory.ViewHelper.Readonly(Model) @FormFactory.ViewHelper.Disabled(Model) />
        @choice.Item2</label>
    }
}