@using FormFactory
@model PropertyVm
@{
    var choices = (IEnumerable<Tuple<string, string>>)Model.Choices;
}
<select name="@Model.Name" @Model.Readonly() @Model.Disabled()>
    @if (Nullable.GetUnderlyingType(Model.Type) != null)
    {
        <option value="" @((Model.Value == null).Att("selected"))></option>
    }
    @foreach (var choice in choices)
    {
        var selected = (Model.Value != null && Model.Value.ToString() == choice.Item1);
        <option value="@choice.Item1" @selected.Att("selected")>@choice.Item2</option>
    }
</select>
