@*@using System*@
@using System.Collections.Generic
@using System.ComponentModel.DataAnnotations
@using System.Linq
@using System.Web.Mvc
@using FormFactory.Attributes
@using FormFactory
@using FormFactory.AspMvc
@model PropertyVm
 
@if (!Model.Readonly && Model.Choices != null)
{
    var choices = Model.Choices as IEnumerable<Tuple<string, string>>;
    if (choices == null && Model.Choices is IEnumerable<string>)
    {
        choices = Model.Choices.Cast<string>().Select(c => Tuple.Create(c, c));
    }
    <select id="@Model.Id" name="@Model.Name"  @Html.Raw(Model.Readonly()) @Html.Raw(Model.Disabled())>
        @foreach (var option in choices)
        {
            <option value="@option.Item2" @Html.Raw((Model.Value != null && option.Item2 == Model.Value.ToString()).Attr("selected"))>@option.Item1</option>    
        }
    </select>
}
else
{
    var dataAttributes = Model.GetCustomAttributes().OfType<DataTypeAttribute>();
    var inputType = dataAttributes.Any(da => da.DataType == DataType.Password) ? "password" : "text";
    var placeHolderText = Model.GetCustomAttributes().OfType<PlaceholderAttribute>().Select(a => a.Text).FirstOrDefault();
    
    
    if (dataAttributes.Any(x => x.DataType == DataType.MultilineText))
    {
    <textarea id="@Model.Id" @Html.Raw(Model.Readonly()) @Html.Raw(Model.Disabled()) @Html.UnobtrusiveValidation(Model)  @Html.Raw(placeHolderText.Attr("placeholder")) name="@Model.Name" rows="5">@Model.Value</textarea>
    }
    else
    {
    <input id="@Model.Id" @Html.Raw(Model.Readonly()) @Html.Raw(Model.Disabled()) @Html.Raw(placeHolderText.Attr("placeholder")) @Html.UnobtrusiveValidation(Model) class="input-large" name="@Model.Name" size="30" type="@inputType" value="@Model.Value" />
    }

    if (!Model.Readonly && Model.Suggestions != null && Model.Suggestions.Cast<object>().Any())
    {
        var escapedSuggestions = Model.Suggestions.Cast<string>().Select(s => s.Replace("'", "''"));
    <script type="text/javascript">

        window.setTimeout(function () { //in a timeout so it can be embedded in a popover
            $(function () {
                if (jQuery().autocomplete) {
                    $("#@Model.Id")
                                .autocomplete({
                                    source: ['@Html.Raw(string.Join("', '", escapedSuggestions))'],
                                    minLength: 0
                                })
                                .focus(function () {
                                    $(this).trigger('keydown.autocomplete');
                                });
                } else {
                    console.log("could not load $.autocomplete for @Model.Id suggestions");
                }
            }, 1);

        });
    </script>
    }
}