<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/bootstrap-overrides.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css"/>
    <link href="/Content/bootstrap-docs.css" rel="stylesheet" type="text/css"/>
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
    <script src="/Scripts/jquery-migrate-1.1.0.min.js" type="text/javascript"></script>
    <script src="/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.23.min.js")" type="text/javascript"></script>
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.dynamic.js"></script>
 

    <link href="/Content/FormFactory/FormFactory.css" rel="stylesheet" type="text/css"/>
    <script src="/Scripts/FormFactory/FormFactory.js" type="text/javascript"></script>
    <script src="/Scripts/Prettify/prettify.js"></script>
    <link href="/Content/Prettify/prettify.css" type="text/css" rel="stylesheet"/>
</head>
    <body style="padding-top: 0px" onload="prettyPrint()">
        <a href="https://github.com/mcintyre321/FormFactory"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png" alt="Fork me on GitHub"></a>
        <div class="container">
            @RenderBody()
        </div>
        <footer>
        </footer>
    </body>
</html>
